* {
  padding: 0;
  margin: 0;

}


body {
  background-color: rgb(0, 0, 0);/* Mudar a cor de fundo */
}

li a {
  text-decoration: none; /*Remover o sublinhado */
  font-size: 20px;/*Tamanho da fonte */
  color: rgb(255, 255, 255);
  padding: 20px; /*separa os titulos*/
}

li {
  list-style: none;/*Remover formataçao da lista */

}

#logo {
  height: 90px;/*altura */
  width: 140px;/*largura */
}

ul {
  display: flex;/*indica a propriedade FlexBox */
  flex-direction: row;/*colocar os elelmentos na horizontal ou na vertical */

}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.caixa-img-logo {
  height: 90px;
  width: 90px;

}

.bi {
  font-size: 30px;
  color: antiquewhite;

}


.banner {
  background-image: url("./assets/bannercontrole.png");/* imagem para o fundo*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1200px;
  border-radius: 25px;
  display: flex;
  align-items: center;

}

.texto-banner {
  font-size: 30px;/*tamanho do titulo*/
  color: #ffffff;
 
}

.btn-menu {
  width: 175px;
  height: 45px;
  border-radius: 35px;/*borda do botao*/
  background-color: #333333;/*cor do botao*/
  color: #ffffff;
  font-weight: bold;/*fonte do botao*/
  border: none;/*remove a borda*/
  margin: 25px;/*espacamento externo*/
}

.caixa-texto-banner {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center; /*move verticalmente*/
  padding: 35px; /*espacamento interno*/

}

.section-center {
display: flex;
justify-content: center;

}

.titulo-primario{
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}

.estrutura-titulo{
  justify-content: center;
  display: flex;

}

.produtos{
   height: 350px;
   width: 190px;

}

.valor{
  font-weight: bold;
   font-size: 20px;
   color: #ffffff;
   display: flex;
   justify-content: center

}

.cores{
  height: 10px;
  width: 10px;
  border-radius: 100%;

}

.vermelho{
  background-color: red;


}

.azul{
  background-color: blue;


}

.laranja{
   background-color: orange;

}

.preto{
  background-color: black;

}

.caixa-cores{
  display: flex;
  flex-direction: row;
     justify-content: center;
   gap: 10px;
 
}

  .carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; 
  }

  .banner2 {
  background-image: url("./assets/x-box.png");/* imagem para o fundo*/
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 1000px;
  border-radius: 25px;
  display: flex;
  align-items: start;
  justify-content: end;


}

.texto-banner2 {
  font-size: 30px;/*tamanho do titulo*/
  color: #ffffff;
 
}

.btn-menu2 {
  width: 175px;
  height: 45px;
  border-radius: 35px;/*borda do botao*/
  background-color: #333333;/*cor do botao*/
  color: #ffffff;
  font-weight: bold;/*fonte do botao*/
  border: none;/*remove a borda*/
  margin: 25px;/*espacamento externo*/
}
